@page "/coach"
@inject HttpClient client
@inject IJSRuntime js

<h3>Trenerzy</h3>

<div class="form-group">
    <a class="btn btn-success" href="coach/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>
@if (coaches == null)
{
    <text>Loading...</text>
}
else if (coaches.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imię trenera</th>
                <th>Nazwisko trenera</th>
                <th>Dośwaidczenie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Coach coach in coaches)
            {
                <tr>
                    <td>@coach.Id</td>
                    <td>@coach.Name</td>
                    <td>@coach.LastName</td>
                    <td>@coach.AgeExperience</td>
                    <td>
                        <a class="btn btn-success" href="coach/edit/@coach.Id">Edit</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(coach.Id))">Delete</button>
                        <a class="btn btn-success" href="coach/@coach.Id">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    Coach[] coaches { get; set; }
    protected override async Task OnInitializedAsync()
    {
        coaches = await client.GetFromJsonAsync<Coach[]>("api/coach");
    }
    async Task Delete(int coachId)
    {
        var coach = coaches.First(x => x.Id == coachId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {coach.Name} ({coach.Id}) Record?"))
        {
            await client.DeleteAsync($"api/coach/{coachId}");
            await OnInitializedAsync();
        }
    }
}